
 <footer class="bg-dark text-light py-5 mt-5">
        <div class="container">
            <div class="row">
                <!-- Company Info -->
                <div class="col-lg-4 col-md-6 mb-4">
                    <h4 class="text-success mb-3">
                        <i class="fas fa-leaf me-2"></i>
                        Đồ Tráng Miệng
                    </h4>
                    <p class="text-light-50 mb-3">
                        Cửa hàng đồ tráng miệng online chất lượng cao với đa dạng các món bánh ngon và hấp dẫn.
                    </p>
                    <div class="contact-details">
                        <p class="mb-2">
                            <i class="fas fa-map-marker-alt text-success me-2"></i>
                            123 Đường ABC, Quận 1, TP.HCM
                        </p>
                        <p class="mb-2">
                            <i class="fas fa-phone text-success me-2"></i>
                            0123-456-789
                        </p>
                        <p class="mb-2">
                            <i class="fas fa-envelope text-success me-2"></i>
                            info@dotrangmieng.com
                        </p>
                    </div>
                </div>

                <!-- Quick Links -->
                <div class="col-lg-4 col-md-6 mb-4">
                    <h5 class="text-success mb-3">Liên kết</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2">@Html.ActionLink("Trang chủ", "Index", "Home", null, new { @class = "text-light text-decoration-none" })</li>
                        <li class="mb-2">@Html.ActionLink("Sản phẩm", "Index", "Product", null, new { @class = "text-light text-decoration-none" })</li>
                        <li class="mb-2">@Html.ActionLink("Giới thiệu", "About", "Home", null, new { @class = "text-light text-decoration-none" })</li>
                        <li class="mb-2">@Html.ActionLink("Liên hệ", "Contact", "Home", null, new { @class = "text-light text-decoration-none" })</li>
                    </ul>
                </div>

                <!-- Product Categories -->
                <div class="col-lg-4 col-md-6 mb-4">
                    <h5 class="text-success mb-3">Danh mục</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2">
                            @Html.ActionLink("Tất cả sản phẩm", "Index", "Product", null, new { @class = "text-light text-decoration-none" })
                        </li>
                        <li class="mb-2">
                            @Html.ActionLink("Bánh ngọt", "Index", "Product", new { category = "banh-ngot" }, new { @class = "text-light text-decoration-none" })
                        </li>
                        <li class="mb-2">
                            @Html.ActionLink("Nước uống", "Index", "Product", new { category = "nuoc-uong" }, new { @class = "text-light text-decoration-none" })
                        </li>
                    </ul>
                </div>


            </div>

            <!-- Copyright -->
            <hr class="border-success opacity-25 my-4">
            <div class="text-center">
                <p class="mb-0 text-light-50">
                    &copy; @DateTime.Now.Year <strong class="text-success">Đồ Tráng Miệng</strong>. 
                    Tất cả quyền được bảo lưu.
                </p>
                <div class="mt-2">
                    <a href="https://facebook.com" target="_blank" class="text-success text-decoration-none me-3" title="Facebook">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="https://instagram.com" target="_blank" class="text-success text-decoration-none me-3" title="Instagram">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://twitter.com" target="_blank" class="text-success text-decoration-none me-3" title="Twitter">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="https://youtube.com" target="_blank" class="text-success text-decoration-none" title="YouTube">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
    </footer>
